<h1>Корзина</h1>
<div class="cart-block">
  <div class="cart-items">
    <ul *ngFor="let item of cartService.cartItems" class="cart-list">
      <li class="cart-item">
        <h4>{{item.product.name}}</h4>
        <p>{{item.qty}}</p>
        <button (click)="cartService.removeProduct(item.product.id, 1)"> - </button>
        <button (click)="cartService.addProduct(item.product.id, 1)"> + </button>
        <button (click)="cartService.deleteProductFromCart(item.product.id)"> X </button>
      </li>
    </ul>
  </div>
  <div class="total-block">
    <p>Количество товаров: {{cartService.totalItems}}</p>
    <p>Сумма: {{cartService.totalSum}}</p>
    <button>Перейти к оформлению</button>
  </div>
</div>
