.products-block {
  display: flex;
  justify-content: space-between;
}
.product-card {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  width: 250px;
}

.product-card-img {
  max-width: 100%;
}

.product-card-name {
  font-size: 15px;
  font-weight: 400;
}

.product-card-price {
  margin-top: 12px;
}
.product-card-price .new-price {
  font-size: 18px;
  font-weight: 700;
}
