<div class="product-list-container main-container">
  <h2>products</h2>
  <div class="products-block">
    <div class="products">
      <a [routerLink]="['product', product.id]" *ngFor="let product of products" class="product-card">
        <img class="product-card-img" [src]="product.photoUrl" alt="img">
        <div>
          <span class="product-card-name">{{product.name}}</span>
          <div class="product-card-price">
            <span class="new-price">{{product.price}} р.</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
