<div class="auth-block">
  <div class="auth-block__inner">
    <div>
      <svg (click)="authService.onClose()" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Menu / Close_LG">
          <path id="Vector" d="M21 21L12 12M12 12L3 3M12 12L21.0001 3M12 12L3 21.0001" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
      </svg>
      <p>Регистрация</p>
    </div>
    <form class="auth-form" #regForm="ngForm" (ngSubmit)="onRegistration(authService.email, authService.password)">
      <div class="error-message" *ngFor="let error of authService.message">
        <ng-container *ngIf="error.field === 'email'">
          <span>{{error.defaultMessage}}</span>
        </ng-container>
      </div>
      <input class="auth-item" type="email" placeholder="email" [(ngModel)]="authService.email" name="email" required>
      <div class="error-message" *ngFor="let error of authService.message">
        <ng-container *ngIf="error.field === 'password'">
          <span>{{error.defaultMessage}}</span>
        </ng-container>
      </div>
      <input class="auth-item" type="password" placeholder="password" [(ngModel)]="authService.password" name="password" required>
      <button class="auth-item" type="submit">Регистрация</button>
    </form>
  </div>
</div>
