body {
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.base-bcg-color {
  background-color: #f3f3f3;
}

.main-container {
  max-width: 1350px;
  margin: 0 auto;
}

.products {
  display: flex;
}

.auth-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.auth-block__inner {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 350px;
}

.overlay {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(3,8,13,.6);
}

.auth-item {
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  background-color: transparent;
  margin-bottom: 10px;
  padding: 14px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.base-input {
  width: 100%;
  min-width: 0;
  border: 1px solid #999;
  border-radius: 8px;
  color: #212121;
  font-family: inherit;
  background-color: initial;
  text-overflow: ellipsis;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  height: 40px;
}

.btn-color {
  background-color: #666;
  fill: #fff;
}

html {
  font-family: Roboto, Arial, sans-serif;
}
